*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #FF5677;
}


/*This is the start of the navigation bar*/
.navbar{
  background-color:#9145B6 ;
  padding: 0.5rem 0rem 0.5rem 0rem;
}
.nav-brand{
  color: #fff;
  margin: 2rem;
}
/*This is the end of the navigation bar*/

/*This is the start of the checkbox*/
.checkboxs-parent{
  position: relative;
  left:2rem ;
  font-weight: bold;
}
.checkbox-title{
  font-size: 1rem;
 
}

/*This is the end of the checkbox*/

/*This is for the text to the right of the checkboxes*/
.body-text{
  position: absolute;
  left: 25rem;
  bottom: 27rem;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
}
/*Input field for the info from the user*/
.main-input-parent{
  position: absolute;
  top: 60%;
  left: 30%;
}
/*SUBMIT BUTTON*/
.main-btn-parent{
  position: absolute;
  left: 35%;
  line-height: 10rem;
}
.input-btn{
  padding: 1rem 3rem 1rem 3rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #4C3F91;
  }


/*Input field for the info from the user end*/