*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar{
  background: #FFFCDC;
}
.nav-brand h2{
  font-family: 'roboto', sans-serif;
  margin-left: 10px;
  font-size: 100;
}
body{
  background: #84DFFF;
}
.checkboxs-parent{
  display: block;/**/
  position: relative;
  left: 15px;
  font-size: 20px;
}
.body-par{
  display: none;
  position: relative;
  top: 11em;
  left: 9em;
  

}

.body-par p{
  font-size: 3.5rem;
}
.body-par .par-text{
  color: #ff0000;
}
.ans-par{
position: absolute;
top: 18em;
text-align: center;
}
.ans-returned{
  display:none;
  font-size: 1.5rem;
  font-family: 'montserrat' sans-serif, Helvetica;
}
.main-input-parent{
  display:  block;/**/
  position: relative;
  top: 13em;
  left: 2.5rem;
  line-height: 5em;
  
}
.main-input-parent input {
  height: 30px;
  width: 300px;
  border: 1px solid #000;
  border-radius: 20em;
  font-size: 1.25rem;
  color: #000;
  background-color:#EDD2F3 ;
  text-align: center;
  font-family: montserrat, sans-serif;
  font-weight: bold;

}
.main-input-parent input:hover {
  box-shadow: 1px 5px 20px #000;
}

.main-btn-parent {
  position: absolute;
  left: 4.5rem;
}
.main-btn-parent button{
  padding: 10px 40px 10px 40px;
  border:1px solid #EDD2F3;
  font-size: large;
  font-weight: bold;
  background-color: #EDD2F3;
  border-radius: 20em;
  font-family: montserrat;
}
.main-btn-parent button:hover {
  box-shadow: 1px 5px 20px #000;
}

/*Tablet view 561px*/
@media all and (min-width: 561px) {
.body-par{
    left: 20rem;
    top: 10em;
  }
.main-input-parent{
  position: relative;
  top: 15em;
  left: 8rem;
}
.main-input-parent input {
  height: 30px;
  width: 250px;
  font-size: 14px;
  color: #000;
}
.main-btn-parent{
  position: absolute;
  left: 11rem;
}


}

/*desktop view*/
@media all and (min-width: 880px) {
.body-par{
  top: 13em;
  left: 40em;
}
.main-input-parent{
  left: 20em;
  
}
.main-input-parent input{
  height: 30px;
  width: 400px;
}
.main-btn-parent{
  left: 20em;
  top: 7em;
}
}
