*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar{
  background: #FFFCDC;
}
.nav-brand h2{
  font-family: 'roboto', sans-serif;
  font-size: 100;
}
body{
  background: #84DFFF;
}
.checkboxs-parent{
  position: relative;
  left: 15px;
  font-size: 20px;
}
.body-par{
  display: flex;
  position: relative;
  top: 8em;
  left: 10em;
  

}
.body-par.par-text{
  
}
.main-input-parent{
  position: relative;
  top: 13em;
  left: 2em;
  line-height: 5em;
  
}
.main-input-parent input {
  height: 30px;
  width: 300px;
  border: 1px solid #000;
  border-radius: 20em;
  font-size: 20px;
  color: #000;
  background-color:#EDD2F3 ;
  text-align: center;
  font-family: montserrat, sans-serif;

}
.main-btn-parent {
  position: absolute;
  left: 5em;
}
.main-btn-parent button{
  padding: 10px 40px 10px 40px;
  border:1px solid #EDD2F3;
  font-size: large;
  font-weight: bold;
  background-color: #EDD2F3;
  border-radius: 20em;
  font-family: montserrat;
}
